body {
    background-color: rgb(193, 148, 235);
}
ul {
    list-style: none;
}
/* nav */
#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    box-shadow: 0 2px 0 rgba(0, 0, 0. 0.4);
}
.nav-list {
    display: flex;
    margin-right: 2rem; 
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
.nav-list a:hover {
    background: blue;
}
/* welcome section */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    background-image: linear-gradient(45deg, rgb(32, 0, 90) 0%, rgb(0, 77, 128) 100%);
}

/* projects section */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: grey;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
a {
    text-decoration: none;
    color:whitesmoke
}

/* contact-section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: darkslategray;
}

.contact-link {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
} 

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px black;
    transition: transform 0.3s ease-out;
}

.contact-details :hover {
    transform: translateY(8px)
}