/* base Reset */
* {
margin: 0;
padding: 0;
}
html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10= 62.5%, 1 rem = 10px, 62.5% = 10px */
    scroll-behavior: smooth;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}
body {
    margin: 0;
}
ul {
    list-style: none;
}
h1{
    font-size: 3rem;
}
h2 {
    font-size: 1.9rem;
}
h1, h2, p {
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 254);
}
/* nav */
#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(16, 187, 187);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.nav-list {
    display: flex;
    margin-right: 2rem; 
    font-family: 'Quicksand', sans-serif;
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
.nav-list a:hover {
    background: rgb(250, 240, 96);
}
/* welcome section */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(50deg, rgb(32, 0, 90) 0%, rgb(32, 182, 112) 100%); 
}
.welcome-section h1 {
    font-size: 5rem;
    padding-bottom: 20px;
}
.welcome-section h2 {
    font-size: 3.75rem;
}
/* projects section */
.project-section {
    text-align: center;
    padding: 150px 5px;
    width: 100%;
    background-image: linear-gradient(50deg, rgb(204, 175, 245) 0%, rgb(59, 7, 37) 70%);
}
.project-section h1, .project-section h2 {
    padding-bottom: 20px;
}
.project-title {
    font-size: x-large;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    padding-top: 80px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
}
/*.project {
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
} 
.project-image {
    height: calc(100% - 6.8rem);
    width: 300px;
    object-fit: cover;
}*/
.watercolor-trees {
    width: 420px;
    height: 300px;
}
.starwars {
    width: 420px;
    height: 300px;
}
.pokemon {
    width: 420px;
    height: 300px;
}
a {
    text-decoration: none;
    color:whitesmoke;
}
a img {
    height: 400px;
    border-radius: 5%;
}

/* contact-section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 55vh;
    padding: 0 2rem;
    background-image:linear-gradient(230deg, rgb(89, 196, 178) 0%, rgb(16, 6, 61) 100%); 
}
.contact-section h1 {
    font-family:'Quicksand', sans-serif; 
    font-size: 3rem;
    padding: 40px;
}
.contact-link {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
} 

.contact-details {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px black;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px)
}
@media (max-width: 28.75em) {
    .contact-links {
        flex-direction: column;
        text-align: center;
    }
}