* {
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
}
.button {
    display:flex;
    justify-content: space-around;
}
.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
img {
    padding-bottom: 20px;
}
.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card_face--front {
    background: cornflowerblue;
    padding-top: 50px;
    text-align: center;
    font-size: x-large;
}

.card_face--back {
    background: darkcyan;
    transform: rotateY(180deg);
    text-align: center;
    font-size: large;
}
.card.is-flipped {
    transform: rotateY(180deg);
}