* {
    margin: 0;
    box-sizing: border-box;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
}