* {
    margin: 0;
    box-sizing: border-box;
}

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}
#main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure {
    margin: 1rem;
}

figcaption {
    text-align: center;
}
