* {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-size: 1.8rem;
    color: gold;
    padding: 1px;
}

li {
    list-style-type: none;
}
.container {
    display: flex;
}
#main {
    margin: 8rem 5rem 0 10rem;
}
header, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header {
    font-size: 2.5rem;
}
h1 {
    color: gold;
}
.button {
    display: flex;
    justify-content: space-around;
}